body{
    background-color:rgba(123, 168, 253, 0.729);
 
}


.filme1{
   width: 1100px;
   height: 550px;
   margin-top: -100px;
   margin-left: 400px;
   margin-bottom: 250px;
   align-items: center;
}
.capas{
    width: 300px;
    margin-top: -100px;
    margin-left: 20px;
    flex-direction: column;
}
.logo{
   margin-top: -100px;  
}
.botao{
   
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(147, 255, 233, 0.184);
    font-size: 25px; 
    border-radius: 5px; 
    border-color: black;
    transition: .5s ease-in-out;
    border: 2px solid;
    display: flex;
    margin-left: 120px;

    border-color: rgba(240, 248, 255, 0);
}
.botao:hover{
    background-color: rgb(65, 255, 182);
}
.capas2{
    width: 300px;
    margin-top: 100px;
    margin-left: 20px;
    
}