

.carrinho{ 
    background-image:url(img/carrinho.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
     }
     
     .bnt4{
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgba(245, 245, 245, 0);
        padding: 10px;
        font-size: 20px; 
        border-radius: 10px; 
       margin: 20px;  
       border-color: 2px;
        transition: .5s ease-in-out;
        border: 1px solid;
        display: flex;
        justify-content: center;
        border-color: rgba(240, 248, 255, 0);
        margin-left: 120px;
    }
        
    .bnt4:hover{
     background-color: rgba(241, 245, 0, 0.39);
     }        
        
        a:visited{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.945);
        }
        
        .textos{
            text-align: center;
            
        } 
    .imgbuy{
        display:flex ;
    flex-direction: column;
    width: 400px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
      }

      .wpp{
        display:flex ;
        align-items: center;
        margin-left: 100px;
      }
    
      html {
        scroll-behavior: smooth;
    }
